body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
}
main {
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(70% / 4 + 1rem));
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
    position: absolute;
    left: 15%;
    top: 15%;
    background: #FFFFFF0A;
    border-radius: 1rem;
    overflow: hidden auto;
}
.app {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    background: #FFFFFF0A;
}
.app img {
    height: 70%;
    border-radius: 1rem;
}
.app p {
    margin: 0;
    text-align: center;
}
::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
    background: #333;
    cursor: pointer;
}
/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 5vh;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}
@media screen and (max-width: 767px) {
    main {
        gap: 2.5rem 2.5rem;
    }
    .app {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        background: #FFFFFF0A;
        padding: 1.5rem;
        color: white;
        text-decoration: none;
    }
}